.control_c {
    display: block;
    float: left;    
    position: relative;
    padding-left: 20px;
    margin-bottom: 3px;
    padding-top: 0px;
    cursor: pointer;
    font-weight: 400;
    width: 50%;
    color: #94979a;
    font-size: 16px;
    
}
.control_c input {
    position: absolute;
    z-index: -1;
    opacity: 0;
 }
.control_indicator_c {
    position: absolute;
    top: 3px;
    left: 0;
    height: 17px;
    width: 17px;
    background: #fff;
    border: 1px solid #d2d1d2;
    border-radius: 4px;
}
.control-radio .control_indicator_c {
    border-radius: 50%;
}

.control_c:hover input ~ .control_indicator_c,
.control_c input:focus ~ .control_indicator_c {
    background: #fff;
}

.control_c input:checked ~ .control_indicator_c {
    background: #fff;
    border-color: #688fd0;
}
.control_c input:checked ~  .control_label{
    color:#3f4142;
}
.control_c:hover input:not([disabled]):checked ~ .control_indicator_c,
.control_c input:checked:focus ~ .control_indicator_c {
    background: #fff;
     border-color: #688fd0;
}
.control_c input:disabled ~ .control_indicator_c {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}
.control_indicator_c:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}
.control_c input:checked ~ .control_indicator_c:after {
    display: block;
}
.control-checkbox .control_indicator_c:after {
    left: 5px;
    top: 2px;
    width: 3px;
    height: 8px;
    top:1px\9;
    width: 6px\9;
    height: 10px\9;
    border: solid #688fd0;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.control-checkbox input:disabled ~ .control_indicator_c:after {
    border-color: #7b7b7b;
}


.control {
    display: block;
    float: left;    
    position: relative;
    padding-left: 20px;
    margin-bottom: 3px;
    padding-top: 0px;
    cursor: pointer;
    font-weight: 400;
    width: 50%;
    color: #94979a !important;
    font-size: 16px;
}
.control input {
        position: absolute;
        z-index: -1;
        opacity: 0;
}
.control_indicator {
    position: absolute;
    top: 7px;
    left: 3px;
    height: 9px;
    padding: 2px;
    width: 9px;
    background: #fff;
}
 .control_indicator:before{
    content: "";
    position: absolute;
    width: 15px;
    top:-4px;
    left: -3px;
    height: 15px;
    border: 1px solid #c3c3c3;
    border-radius: 50%;
 }
.control-radio .control_indicator {
    border-radius: 50%;
}

.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
    background: #fff;

}

.control input:checked ~ .control_indicator {
    background: #688fd0;
}

.control input:checked ~ .control_indicator:before {
    border-color: #688fd0;
}
.control input:checked ~  .control_label{
    color:#3f4142;
}
.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
     background: #688fd0;
}
.control:hover input:not([disabled]):checked ~ .control_indicator:before,
.control input:checked:focus ~ .control_indicator:before {
     border-color: #688fd0;
}
.control input:disabled ~ .control_indicator {
    background: #688fd0;
    border-color: #688fd0;
    opacity: 0.6;
    pointer-events: none;
}
.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}
.control input:checked ~ .control_indicator:after {
    display: block;
}
.control-checkbox .control_indicator:after {
    left: 5px;
    top: 2px;
    width: 3px;
    height: 7px;
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.control-checkbox input:disabled ~ .control_indicator:after {
    border-color: #7b7b7b;
}

@media (max-width: 450px) {
.control_c {
        width: 100%;
    }
}


.control_n {
    display: block;
    float: left;    
    position: relative;
    padding-left: 20px;
    margin-bottom: 4px !important;
    padding-top: 0px;
    cursor: pointer;
    font-weight: 600;
    width: 100%;
    color: #5b5b5b !important;
    font-size: 16px;
}
.control_n input {
        position: absolute;
        z-index: -1;
        opacity: 0;
}
.control_n .control_indicator {
    position: absolute;
    top: 7px;
    left: 3px;
    height: 9px;
    padding: 2px;
    width: 9px;
    background: #fff;
}
.control_n .control_indicator:before{
    content: "";
    position: absolute;
    width: 15px;
    top:-3px;
    left: -3px;
    height: 15px;
    border: 1px solid #c3c3c3;
    border-radius: 50%;
 }
.control-radio .control_indicator {
    border-radius: 50%;
}

.control_n:hover input ~ .control_indicator,
.control_n input:focus ~ .control_indicator {
    background: #fff;

}

.control_n input:checked ~ .control_indicator {
    background: #688fd0;
}

.control_n input:checked ~ .control_indicator:before {
    border-color: #688fd0;
}
.control_n input:checked ~  .control_label{
    color:#688fd0;
}
.control_n:hover input:not([disabled]):checked ~ .control_indicator,
.control_n input:checked:focus ~ .control_indicator {
     background: #688fd0;
}
.control_n:hover input:not([disabled]):checked ~ .control_indicator:before,
.control_n input:checked:focus ~ .control_indicator:before {
     border-color: #688fd0;
}
.control_n input:disabled ~ .control_indicator {
    background: #688fd0;
    border-color: #688fd0;
    opacity: 0.6;
    pointer-events: none;
}
.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}
.control_n input:checked ~ .control_indicator:after {
    display: block;
}
.control-checkbox .control_indicator:after {
    left: 5px;
    top: 2px;
    width: 3px;
    height: 7px;
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.control-checkbox input:disabled ~ .control_indicator:after {
    border-color: #7b7b7b;
}



.control_b {
    display: block;
    float: left;    
    position: relative;
    padding-left: 25px;
    margin-bottom: 20px;
    padding-top: 0px;
    cursor: pointer;
    font-weight: 400;
    width: 50%;
    color: #3f4142;
    font-size: 16px;
    
}
.control_b input {
    position: absolute;
    z-index: -1;
    opacity: 0;
 }
.control_indicator_c {
    position: absolute;
    top: 3px;
    left: 0;
    height: 17px;
    width: 17px;
    background: #fff;
    border: 1px solid #d2d1d2;
    border-radius: 4px;
}
.control-radio .control_indicator_c {
    border-radius: 50%;
}

.control_b:hover input ~ .control_indicator_c,
.control_b input:focus ~ .control_indicator_c {
    background: #fff;
}

.control_b input:checked ~ .control_indicator_c {
    background: #fff;
    border-color: #688fd0;
}
.control_b input:checked ~  .control_label{
    color:#688fd0;
}
.control_b:hover input:not([disabled]):checked ~ .control_indicator_c,
.control_b input:checked:focus ~ .control_indicator_c {
    background: #fff;
     border-color: #688fd0;
}
.control_b input:disabled ~ .control_indicator_c {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}
.control_indicator_c:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}
.control_b input:checked ~ .control_indicator_c:after {
    display: block;
}
.control-checkbox .control_indicator_c:after {
    left: 5px;
    top: 2px;
    width: 3px;
    height: 8px;
   
    border: solid #688fd0;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.control-checkbox input:disabled ~ .control_indicator_c:after {
    border-color: #7b7b7b;
}
_:-ms-lang(x), .control-checkbox .control_indicator_c:after {
       top:2px;
       width: 6px;
       height: 9px;
}
_:-ms-lang(x), .create_mind_bg .minding_top_sec ul li a p img{
    filter: gray; 
}